body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f2e0; /* Verde claro */
    margin: 0;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4caf50; /* Verde */
}

h1 {
    margin-bottom: 20px;
    color: #2e7d32; /* Verde oscuro */
}

#countdown {
    font-size: 2em;
    color: #388e3c; /* Verde medio */
}
